* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, button{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}


a{
    text-decoration: none;
    color:rgb(140, 142, 143);
    transition: 0.2s;
}
a:hover{
    color: black;
    transition: 0.2s;
}


/* HEADER  */
.header {
    position: absolute;
    left: 0px;
    right: 0px;
    background: transparent none repeat scroll 0% 0%;
    padding: 2.5rem 0px;
    z-index: 11;
}

.container {
    display:flex;
    justify-content: space-between;
    align-items: center;
    max-width: 86rem;
    margin: 0px auto;
    padding: 0px 3rem;
}

/*******************************************
    LEFT HEADER 
*********************************************/
.left-header {
    display:flex;
    align-items: center;
}

/* logo */
.left-header img {
   height: 2rem; 
   margin-right: 60px;
}

/* nav left */
.left-header .nav-left a:first-child {
    color: #000;
    margin-right: 3rem;
}

/*******************************************
    RIGHT HEADER 
*********************************************/
.right-header {
    display:flex;
    align-items: center;
}

/* Buttons */
.right-header .btn{
    min-width: 90px;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.8rem;
    border: none;
    border-radius: 10px; 
    cursor: pointer;
}
.right-header .btn:first-child{
    margin-left:1rem;
}
.right-header .btn:last-child{
    color:#fff;
    background: #000;
    margin-left: 1rem;
    width: 130px;
    transition: 0.2s;
}
.right-header .btn:last-child:hover{
    background: rgba(25, 28, 31, 0.84);
    transition: 0.2s;
}

/* nav right */
.right-header .top-action-list > li {
    list-style: none;
}

.right-header .top-action-list > li {
    display: inline-block;
    padding: 1rem 1.5rem;
    text-decoration: none;
    cursor: pointer;
}

/* Dropdown */
.top-action-list li.with-dropdown {
    position: relative;
}

.top-action-list .dropdown-menu{
    display: none; /* <<<<< GESTITO CON JQUERY */
    position: absolute;
    top: 100%;
    left: 5px;
    width: 200px;
    padding: 1.5rem;
    border-radius: 10px;
    background: #fff;
    filter: drop-shadow(0 0 5px rgba(0,0,0, .2));
}

.top-action-list .dropdown-menu li{
    list-style-type: none;
    margin-bottom: 1.5rem;
}
.top-action-list .dropdown-menu li:last-child{
    list-style-type: none;
    margin-bottom: 0;
}
